.jumbotron{
	background: #2E86C1;
	color: #ffffff;
	margin-top: 50px;
}

footer{
	padding: 10px 10px 0 10px;
	background-color: #B2BABB;
	margin-top: 15px;
	margin-bottom: 0;
	width: 100%
}
 
a {
	text-decoration: none;
	color: #000000;
	font-size: 20px;

}

a:hover{
	text-decoration: none
}
.card-ce{
	flex: 1 150px;
	padding: 5px;
	margin: 5px 15px 15px 5px;
	max-width: 250px;
}

/*.btn-ver{
	width:  100%;
}*/

.adress-icon{
	padding-right: 5px;
}

.btn-uno{
	margin: 5px;
}